{# Pass this all of the stuff from parseCourseInfo.  It'll totally work. #}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> {% if "name" in dict %} {{ dict["name"] }} {% elif "course" in dict %} {{ dict["course"] }} {% else %} Unknown Course {% endif %} - {% if "sem" in dict %} {{ dict["sem"] }} {% else %} Unknown Semester {% endif %} </title>
  <link rel=stylesheet type=text/css href="{{ url_for('static',filename='stylesheet.css') }}" />
  <script src="{{ url_for('static',filename='bootstrap.js') }}"></script>
</head>

<body>
  <div class="container" />

    <h1>{% if "course" in dict %} {{ dict["course"] }} {% else %} Unknown {% endif %} 
      <small>{% if "name" in dict %} {{ dict["name"] }} {% else %} Unknown Course {% endif %}</small></h1>

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
            <ul class="nav">
              {% for key in headers %} 
                <li><a href="/{{ key|lower }}"> {{ key|capitalize }}</a></li>
              {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </div>
    
    
    {% block content %}
    {% endblock %}
  
  
</body>
</html>
