{% extends "base.html" %}
{% block optstyle %}
{% endblock %}

{% block content %}
<div class="main">
	
		<div class="">
			<div class="">
			
				<h4 class="year"></h4>
				
				<h4 class="time"></h4>
			
				<h3 class="month"></h3>
			
				<table id="calendar" class="calendar">
					<thead>
					</thead>
					<tbody>
					</tbody>
				</table>
				
				<input type="button" name="last" id="last" value="Previous" class="btn">
				<input type="button" name="current" id="current" value="Current" class="btn">
				<input type="button" name="next" id="next" value="Next" class="btn">
				
			</div>
		</div>
	
	</div>
{% endblock %}

