{% extends "base.html" %}
{% block content %}

<div class="main">
            {% for hw in cont %}
            <dl class="dl-horizontal" id="{{ loop.index }}">
                <dt> Assignment {{ loop.index }} </dt>
                <dd>
                Out: {{ hw[0] }} <br>
                Due: {{ hw[1] }}
                </dd>
                <db><a class="btn" href="/homework/{{ hw[2] }}">Download Assignment &raquo;</a></db>
              </dl>

            {% endfor %}
    </div>
{% endblock %}
